/*

!/perch
/perch/*

!/perch/addons
/perch/addons/*

!/perch/addons/apps
/perch/addons/apps/*

!/perch/addons/apps/redfinch_logger

!.gitignore
!README.md
!CHANGELOG.md
!LICENSE

!docs
!docs/*

.DS_Store
.idea